
.postit{
    width: 220px;
    height: 220px;
    background-color: #ccc;
    margin: 40px;
    position: relative;
}

.date{
    /* position: absolute;
    top: 50;
    bottom: 10; */
    
    position:absolute;
    bottom:10px;

    font-size: 12px;
}