
.button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 6px;
  padding: 20px;
}

.modal-background {
  position: absolute;
  /* width: 100vw; */
  height: 102vh;
  right: 0;
  top: -1;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-card {
  margin: 0 auto;
  display: block;
  margin-top: 250px;
  width: 370px;
  height: 350px;
  background-color: #FFE971;
  border-radius: 5px;
  z-index: 1;
}

#cheerInput{
    width: 100%;
    height: 90%;
    padding: 10px;
    resize: none;
    font-size: 22px;
}
#cheerInput::placeholder{
    color: #AEAEAE;
    font-size: 20px;
}
#cheerInput:focus{
    outline: none;
}


#cheerBtn{
    background-color: blue;
    width: 100%;
    height: 10%;
}