
.button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 6px;
  padding: 20px;
}

.modal-background {
  position: absolute;
  /* width: 100vw; */
  height: 104vh;
  right: 0;
  top: -1;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  margin: 0 auto;
  display: block;
  width: 370px;
  height: 300px;
  background-color: #FFE971;
  border-radius: 5px 5px 0px 0px;
  z-index: 1;
}

#cheerInput{
    width: 100%;
    height: 100%;
    padding: 20px;
    resize: none;
    font-size: 22px;
    /* font-size: 2px; */
    border:none;
}
#cheerInput::placeholder{
    color: #AEAEAE;
    font-size: 20px;
}
#cheerInput:focus{
    outline: none;
}

#cheerBtn{
    background-color:#FFE971 ;
    width: 100%;
    height: 12%;
    border-radius: 0px 0px 5px 5px;
    font-size: 20px;
    border:none;
    border-top:dashed gray 2px;
    cursor: pointer;
    /* border-top: gray; */
    /* border-radius: 20px; */
}