@font-face {
    font-family: '한나는열한살체.ttf';
    src: url(./fonts/배달의민족폰트/한나는열한살체.ttf);
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: '한나체air.ttf';
    src: url(./fonts/배달의민족폰트/한나체air.ttf);
    font-weight: normal;
    font-style: normal; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "한나는열한살체.ttf";

}


body{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none; 
    user-select:none

}

.container-right{
    display: flex;
    z-index: 3;
    width: 100%;
    height: 100vh;
}

.img{
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(../img/loginImg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.transparent-box{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
}

.mainColor{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    border-right: 200px solid transparent;
    border-bottom: 100vh solid #5FBEBB;
}

.title-box{
    margin-left: auto;
    z-index:1;
    color: white;
    width: 100vh;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle{
    display: flex;
    text-align: center;
}

.title-box h1{
    font-size: 80px;
}

.title-box h2{
    margin-top: 24px;
    font-size: 56px;
}

.title-box p{
    font-size: 26px;
    font-family: "한나체air.ttf";
    margin-bottom:12px;
} 

@media screen {
    
}