

.login-container {
    width: 100%;
    height: 100vh;
    background-color: #5FBEBB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainLogo{
    background:url(../img/mainLogo.png) no-repeat ;
    width: 150px;
    height: 170px;
}

.textInput{
  width: 340px;
  height: 45px;
  background-color: #5FBEBB;
  border-style: none; 
  margin: 10px;
  font-size: 18px;
  box-shadow: none;
  margin-bottom: 0px;
  font-family: initial;
  color: white  ;
}

input::placeholder{
    color: white;
    font-size: 18px;
}

input:focus{
    outline: none;
}

.login_btn{
    width: 340px;
    height: 50px;
    margin: 10px;
    border-radius: 7px;
    color: #5FBEBB;
    font-size: 20px;
    border-style: none;
    background-color: white;
    font-family: "한나는열한살체.ttf";
    text-align: center;
    cursor: pointer;
}

.bottomLine {
    width: 100%;
    height: 2px;
    background-color: #E5E5E5;
    margin-bottom: 5px;
}

.a-box{
    margin-top: 50px;
    text-align: center;
}



a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.find{
    margin-bottom: 10px;
}

.modalBase {
    z-index: 1000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.50);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
