@font-face {
    font-family: '한나는열한살체.ttf';
    src: url(./fonts/배달의민족폰트/한나는열한살체.ttf);
    font-weight: normal;
    font-style: normal;
}  

.register_modal{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.1;
    z-index: 0;    

}

.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* z-index: 1; */
}

.register-input-box{
    width: 600px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}
.register-input-text{
    width: 40%;
    height: 4vh;
    background-color: white;
    color: #5FBEBB;
    border: none;
    margin-top: 20px;
}
.bamin-font6{
    font-family: "한나는열한살체.ttf";
}

.register-input-box input::placeholder{
    color: #5FBEBB;
}

.register-input-box input:focus{
        outline: none;
}

.register-bottomLine{
    background-color: #5FBEBB;
    width: 40%;
    height: 2px;
    color: black;
}

.register_btn{
    width: 40%;
    height: 35px;
    font-size: 25px;
    color: white;
    background-color: #5FBEBB;
    border: none;
    border-radius: 7px;
    margin: 50px;
}
